
html {
    background-color: #dadada;
}

.buys {
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #fff;
}

.main {
    display: flex;
}

.input {
    padding: 15px;

}

#input {
    height: 26px;
    width: 512px;
    padding: 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px #e6e8e2 solid;
}

.add_product {
    cursor: pointer;
    margin-left: -10px;
    height: 35px;
    width: 106px;
    background-color: #658eff;
    color: #fff;
    border: 0px;
    border-bottom: 3px #374aa6 solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition-duration: 300ms;
}

.add_product:hover {
    background-color: #3f6dff;
}

.add_product:active {
    background-color: #1b2288;
}

.product {
    display: flex;
    padding: 10px;
    border-top: 1px #aaa solid;
}

.text-product {
    padding: 5px 0 0 15px;
    text-align: left;
    width: 200px;
    font-family: Arial;
    font-size: 14px;
}

.button {
    transition-duration: 300ms;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-style: oblique;
    border-radius: 20px;
    border: 0px;
}

.controls {
    width: 190px;
    margin-left: 25px;
    margin-right: 25px;
}

.add {
    border-bottom: 2px #3a9434 solid;
    cursor: pointer;
    background-color: #52ce48;
}

.add:hover {
    background-color: #46b03e;
}

.delete {
    border-bottom: 2px rgba(203, 12, 30, 0.37) solid;
    cursor: pointer;
    background-color: rgba(249, 15, 37, 0.37);
}

.delete:hover {
    background-color: rgba(198, 12, 29, 0.37);
}

.state {
    margin-left: 35px;
    float: right;
}

.counts {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #ededed;
}

.remove {
    transition-duration: 300ms;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #d8172f;
    color: #fff;
    border-bottom: 3px #9c2c1d solid;
}
.remove:hover{
    background-color: #b11c28;
}
.buyed {
    transition-duration: 300ms;
    cursor: pointer;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-bottom: #9b9c99 3px solid;
}

.buyed:hover {
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #acacac;
}

.buy-list {
    border-radius: 5px;
    width: 300px;
    margin-top: 100px;
    margin-left: 30px;
    background-color: #fff;
}

.border_btm {
    border-bottom: 1px #999 solid;
}